@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body, p {
  margin: 0;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.inline-block {
  display: inline-block;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  >material-content {
    flex: 1;
  }
}
